template
	require(from="../resources/elements/gif-card")
	require(from="./gifs.scss")

	.loading-message(if.bind="gifSrcs.length == 0") 
		h1 Loading GIFS
		h1.rotate &hellip;
	.gifs
		gif-card(repeat.for="src of gifSrcs" src.bind="src.data")